.race_img {
  height: 66px;
  width: 130px;
  display: block;
  border: 1px solid;
}

#selector > div {
  display: inline-block;
  position: relative;
}

table {
  display: block;
}

#selector {
  position: fixed;
  font-size: 0;
}

.title_div,.race_date {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 8px;
}

.title_div {
  min-width:220px;
}

td,th {
  text-align: center;
}

.true {
  color: blue;
  font-weight: bold;
}

.false {
  color: gray;
}


.gold,.s30,.done {
  background-color: gold;
}

.silver,.s20,.started {
  background-color: silver;
}

.bronze,.s10 {
  background-color: brown;
}

.s0 {
  background-color: pink;
}

.mosaic {
  filter: blur(1px);
  opacity: 0.7;
}

html,body {width:100%;  }
body,div,body ul,li{margin:0; padding:0;}
.tab ul,.tab li {list-style:none;}

/*tab css*/
.tab{float:left;}
.tabnav{font-size:0;}
.tabnav li{display: inline-block;  height:46px; text-align:center; border-right:1px solid #ddd;}
.tabnav li a:before{content:""; position:absolute; left:0; top:0px; width:100%; height:1px; background:#ddd;}
.tabnav li a.active:before{background:#7ea21e; height:3px;}
.tabnav li a.active{border-bottom:1px solid #fff;}
.tabnav li a{ position:relative; display:block; background: #f8f8f8; color: #000; padding:0 30px; line-height:46px; text-decoration:none; font-size:14px; border-bottom: 1px solid #ddd;}
.tabnav li a:hover,
.tabnav li a.active{background:#fff; color:#7ea21e; }

#C_7_A,#C_7_B,#C_8_A,#C_8_B,#S_7_A,#S_7_B,#S_8_A,#S_8_B,#example_b {
  background-color: skyblue;
}

#J_9_B,#J_12_B,#C_3_B,#C_6_B,#C_9_B,#C_12_B,#S_3_B,#S_6_B,#S_9_B,#S_12_B,#example_y {
  background-color: yellow;
}

#example_b, #example_y {
  height: 24px;
  padding: 6px;
}

.tab {
  margin-right: 10px;
}

.tabcontent div{
  display: inline-block;
}

.tabcontent td{
  position: relative;
}

.tabcontent table td {
  text-align: center;
}

.minus {
  color: red;
}
.plus {
  color: green;
}

.minus, .plus {
  position: absolute;
  left: 4px;
  top: 2px;
  font-size: 12px;
  font-weight: bold;
  height: 22px;
  width: 24px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  pointer-events: none;
}

.preset_table th, .stat_table th, .const_preset_table th {
  width: 65px;
}

.preset_table th.auto_th, .const_preset_table th.auto_th {
  width: auto;
}

.preset_table td:first-child+td, .const_preset_table td:first-child {
  padding-left: 10px;
  padding-right: 10px;
}

.preset_table .button_div{
  display: flex;
}
.preset_table input{
  display: inline;
}
.preset_table .text_div{
  display: inline;
}
.preset_table .up{
  margin-right: 12px;
}
/* 모든 체크박스를 숨김 처리 한다. */
#title_list input[type="checkbox"] {
    display:none;
}

#title_list label:has(> input[type="checkbox"]) ~ ul {
    display:none;
}
#title_list label:has(> input[type="checkbox"]:checked) ~ ul {
    display:list-item;
}


#title_list li {
  list-style: none;
}

#title_list ul.nested {list-style:none; padding-left:18px;}

#title_list label { margin-bottom: 0;}

#title_list label::before {
  content: "+";
  color: black;
  display: inline-block;
  margin-right: 3px;
  font-family: monospace, monospace;
}

#title_list label:has(> input[type="checkbox"]:checked)::before {
  content: "-";
  color: black;
  display: inline-block;
  margin-right: 3px;
  font-family: monospace, monospace;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  pointer-events: none;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#race_bonus {
  width: 70px;
  height: 28px;
  display:inline-block;
}

#checkboxes label {
  margin-bottom: 0px;
  width:70px;
}

#checkboxes td {
  text-align: left;
}

.layout_table {
  font-size: 14px;
}

.layout_table td {
  text-align: left;
  vertical-align: top;
}

.top_table td {
  vertical-align: middle;
}

.stat_table, .extra_table {
  display: inline-block;
}

.extra_table {
  font-size: 14px;
  background-color: #eaeaea;
}

.extra_table tr td, .layout_table tr td.center {
  text-align: center;
}

#reward_list {
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.table tr td, .table tr th {
  line-height: 24px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

body .table {
  width: fit-content;
}

.table td, .table th {
  font-size: 14px;
}

.div_btn {
  background-color: #0d6efd;
  margin-left: 1px;
  margin-right: 1px;
}

.div_btn:hover {
  background-color: #0b5ed7;
}

#my_rotation_presets .disable_btn {
  background-color: lightgray;
  border-color: lightgray;
}

#skill {
  font-size: 12px;
}

div.x {
}

div.single {
}

div.double {
}

div.triangle {
}

div.skill_info {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 12px;
  height: 22px;
  width: 22px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  pointer-events: none;
  -webkit-text-stroke-width: 0.5px;
}

div.extra_info {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 12px;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  pointer-events: none;
  -webkit-text-stroke-width: 0.5px;
}

.tabcontent td div.bi::before, #selector div.bi::before {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}